.details_page {
  padding: 2rem 0;

  img {
    width: 100%;
  }

  .details {
    padding: 15px 20px;
    background: #f6f5fa;
    font-size: 1.4em;

    .user_info {
      font-size: 1.2em;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }

      p {
        margin-top: 13px;
      }
    }

    .back_button {
      display: flex;
      align-items: center;
      border: 0;
      outline: 1;
      background-color: transparent;
      font-size: 1em;

      img {
        width: 30px;
        margin-right: 10px;
      }
    }

    table {
      td {
        padding: 0.3em;
      }
    }
  }
}

@media (max-width: 768px) {
  .details_page {
    font-size: 12px;
  }
}
